@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap");

// font-family: 'Oswald', sans-serif;

// font-family: 'Roboto Condensed', sans-serif;

html {
  box-sizing: border-box;
  font-size: 100%;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    text-align: center;
    background: rgb(139, 196, 215);
    background: linear-gradient(
      180deg,
      rgba(139, 196, 215, 1) 47%,
      rgba(35, 44, 47, 1) 81%
    );

    color: #fff;
    text-shadow: 0.3px 1.5px 1px rgb(77, 74, 74);
    font-family: "Roboto Condensed", sans-serif;

    .container {
      min-height: 100vh;
      padding-top: 70px;
      a {
        display: block;
        text-decoration: none;
        box-sizing: initial;
        max-width: 400px;
        height: 25px;
        color: #fff;
        text-shadow: 0.5px 1.5px 1px rgb(77, 74, 74);
        font-family: "Oswald", sans-serif;
        border: 1.3px solid #ffffff;
        padding: 25px 20px;
        margin: 0 auto 15px auto;
        margin-top: 21px;
      }
      a#featured:hover {
        background-color: whitesmoke;
        transition: all 0.5s ease-in-out;
      }

      h2 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 2px;
      }
      .popular-links:hover {
        background-color: whitesmoke;
        transition: all 0.3s ease-in-out;
      }
      .title {
        letter-spacing: 15px;
      }
      #title-three {
        margin-top: 40px;
      }
      #title-four {
        margin-top: 50px;
      }
      .footContainer {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
      }

      #twitter-link {
        //   grid-column: col-start/col-end;
        border: none;
      }
      #instagram-link {
        //   grid-column: col-start/col-end;
        border: none;
      }
      #youtube-link {
        //   grid-column: col-start/col-end;
        border: none;
      }
      #soundcloud-link {
        //   grid-column: col-start/col-end;
        border: none;
      }
    }

    @media screen and (max-width: 600px) {
      .container {
        .footContainer {
          grid-template-columns: none;
          grid-template-rows: repeat(4, 1fr);
          // grid-template-rows: auto;
        }
        a {
          max-width: 200px;
          max-height: 20px;
          padding: 10px 20px;
        }
      }
    }
  }
}
